body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom, #eeeeee, #D9D9D9);
    
    display: flex;
    align-content: center;
    justify-content: center;
    min-height: 100dvh;
    
}

/*BARRA SUPERIOR*/

header > .barrasup{
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);

    height: 70px;
    width: 90dvw;
    max-width: 1200px;

    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-image: linear-gradient(to right, #68328E, #522770,#44205e,#1D0E28);
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
    padding: 0px 4%;

    
}

.logo{
    flex: 1;
}

.logo a{
    color: white;
    text-decoration: none;
    font-size: 22pt;
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    list-style-type: none;
    
}
.logo:hover{
    transform: scale(1.05);
    transition: .2s;
}

.menu-desktop{
    flex: 2;
    text-align: center;
}
.menu-desktop ul{
    margin: 0;
    padding: 0;
}
.menu-desktop ul li{
    margin: 0 20px;
}
.user {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.user:hover{
    transform: scale(1.05);
    transition: .2s;
}

header a{
    text-decoration: none;
    color: #a0a0a0;
    padding: 5px;
    
}

header nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 0px 10px;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 14pt;
    
    
}

.menu-desktop ul li a:hover{
    transform: scale(1.05);
    transition: 0.2s;
    cursor: pointer;
    color: #F7F7F7;

}
/*FIM BARRA SUPERIOR*/
main{
    margin-top: 120px;
    max-width: 1445px;
    list-style-type: none;
    display: inline-block;
    gap: 50px;
    padding: 0px 10px;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 14pt; 

}

form{   
    display: flex; 
    flex-direction: row;
    gap: 10px;
    background-color: white;
    
}
.labels{
    display: flex;
    flex-direction: column;
    gap: 13px;
}
.inputs{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input[type='text']{
    width: 180px;
    height: 24px;
    border-radius: 5px;
    border: none;
    background-color: #D9D9D9;
    
}
input[type=submit]{

    width: 180px;
    height: 30px;
    background-color: #68328E;
    font-size: 1em;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;

}
input[type=submit]:hover{
    background-color: #522770;
}
.inp-class{
    width: 180px;
    height: 24px;
    border-radius: 5px;
    border: none;
    background-color: #D9D9D9;
}
.inp-senha{
    width: 180px;
    height: 24px;
    border-radius: 5px;
    border: none;
    background-color: #D9D9D9;
}
.toggle-senha{
    position: relative;
}
.bibi-eye-slash{
    margin-left: 160px;
    margin-top: 15px;
    position: absolute;
    cursor: pointer;
    user-select: none;
    
}
.bibi-eye{
    margin-left: 160px;
    margin-top: 15px;
    position: absolute;
    cursor: pointer;
    user-select: none;
    
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    min-width: 450px;
    max-width: 1250px;
    min-height: 500px;
    border-radius: 30px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
}
h1{
    color: #68328E;
}

.tabela-funcionarios{
    background-color: #f0f0f0;
    padding: 0px;
    
    border-collapse: collapse;
    text-align: center;
    
}
.tabela-funcionarios a{
    text-decoration: none;
}

.tabela-funcionarios thead tr{
    background-color: #a0a0a0;
    
}
.tabela-funcionarios td{
    padding: 12px;
    color: #333;
    
}
.tabela-funcionarios tbody tr:nth-child(2n){
    background-color: #a0a0a0;
}

.bi-pencil{
    background-color: rgb(11, 94, 215);
    padding: 8px;
    color: #ffffff;
    border-radius: 5px;
}
.trash{
    background-color: #CE2B2B;
    padding: 4px 8px 3px 8px;
    color: #ffffff;
    border-radius: 5px;
    
}
.bar-search{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.search{
    margin: auto;
    width: 350px;
    height: 34px;
    border-radius: 10px 0px 0px 10px;
    border-style: none;
    background-color: #D9D9D9;
    cursor: pointer;
}
.btn-search{
    width: 34px;
    height: 34px;
    border-radius: 0px 10px 10px 0px;
    border-style: none;
    color: #ffffff;
    background-color: rgb(11, 94, 215);
    cursor: pointer;
}
    