body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom, #eeeeee, #D9D9D9);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100dvh;
    
}

/*BARRA SUPERIOR*/

header > .barrasup{
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);

    height: 70px;
    width: 90dvw;
    max-width: 1200px;

    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-image: linear-gradient(to right, #68328E, #522770,#44205e,#1D0E28);
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
    padding: 0px 4%;

    
}
main{
    margin: 0;
    max-width: 1445px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    
}

.logo{
    flex: 1;
}

.logo a{
    color: white;
    text-decoration: none;
    font-size: 22pt;
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    list-style-type: none;
    
}
.logo:hover{
    transform: scale(1.05);
    transition: .2s;
}

.menu-desktop{
    flex: 2;
    text-align: center;
}
.menu-desktop ul{
    margin: 0;
    padding: 0;
}

.user {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.user:hover{
    transform: scale(1.05);
    transition: .2s;
}

header a{
    text-decoration: none;
    color: #a0a0a0;
    padding: 5px;
    
}

header nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 0px 10px;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 14pt;
    
    
}

.menu-desktop ul li a:hover{
    transform: scale(1.05);
    transition: 0.2s;
    cursor: pointer;
    color: #F7F7F7;

}
/*FIM BARRA SUPERIOR*/

/*TOPO DO SITE*/

section{ 
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 22pt;
    max-width: 1445px;

}

.img-topo-site img{
    border-radius: 0 0 50px 50px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
.btn-agen{
    margin-top: 25px;
    text-align: center;
    padding: 15px;
    border-radius: 8px;
    width: 120px;
    background-image: linear-gradient(to right, #68328E, #522770, #45235f);
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 16pt;
    color: #ffffff;
}

.btn-agen:hover{
    transform: scale(1.03);
    transition: 0.2s;
    box-shadow: 0px 0px 15px #68328E;
    cursor: pointer;

}

.txt-topo-site{
    width: 536px;
    position: absolute;
    margin-top: 80px;
    padding-left: 50px;
    color: #ffffff;
}
/*FIM TOPO DO SITE*/

.content-doble{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
        
}
.container{
    margin-top: 20px;
    margin-left: 40px;
}
.content-left{
    display: flex;
    flex-direction: column;
    height: 680px;
    width:600px;
    background-color: #C1C5C7;
    border-radius: 30px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
.content-left p{
    margin-left: 20px;
    width: 490px;
    position: relative;
    color: #ffffff;
    font-size: 20pt;
    
}
.content-left h2{
    margin-left: 40px;
    position: relative;
    color: #68328E;
}
.icon-banhogel{
    margin-left: 375px;
    position: absolute;
    width: 90px;
    height: 90px;
}
.img-banhogel{
    width: 520px;
    height: 350px;
}
.content-right{
    display: flex;
    flex-direction: column;
    height: 680px;
    width:600px;
    background-color: #C1C5C7;
    border-radius: 30px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);

    
}
.content-right p{
    margin-left: 20px;
    width: 490px;
    position: relative;
    color: #ffffff;
    font-size: 20pt;
    
}
.content-right h2{
    margin-left: 40px;
    position: relative;
    color: #68328E; 
}
.img-fibra{
    width: 520px;
    height: 350px;
}
.icon-alongamento{
    margin-left: 455px;
    position: absolute;
    width: 90px;
    height: 90px;
}
.linha{
    margin: auto;
    background-color: #6d6d6d;
    width: 1200px;
    height: 2px;
    font-size: 1pt;
}
.quem-somos{
    font-size: 12pt;
    max-width: 1200px;
}

/* BARRA INFERIOR */
.redes-sociais{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
footer p{
    text-align: center;
    font: italic 14pt arial;
    color: #6d6d6d;
}

footer nav ul li{
    margin: 0;
    list-style-type: none;
    display: inline-block;
    padding-top: 60px;
    gap: 20px;
}

.redes-sociais ul li:hover{
    transform: scale(1.05);
    cursor: pointer;
    transition: .2s;
}
/* FIM BARRA INFERIOR */    