

header > .barrasup{
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);

    height: 70px;
    width: 90dvw;
    max-width: 1200px;

    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-image: linear-gradient(to right, #68328E, #522770,#44205e,#1D0E28);
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
    padding: 0px 4%;

    
}


.logo{
    flex: 1;
}

.logo a{
    color: white;
    text-decoration: none;
    font-size: 22pt;
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    list-style-type: none;
    
}
.logo:hover{
    transform: scale(1.05);
    transition: .2s;
}

.menu-desktop{
    flex: 2;
    text-align: center;
}
.menu-desktop ul{
    margin: 0;
    padding: 0;
}
.menu-desktop ul li{
    margin: 0 20px;
}
.user {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.user:hover{
    transform: scale(1.05);
    transition: .2s;
}

header a{
    text-decoration: none;
    color: #C1C5C7;
    padding: 5px;
    
}

header nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 0px 10px;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 14pt;
    
    
}

.menu-desktop ul li a:hover{
    transform: scale(1.05);
    transition: 0.2s;
    cursor: pointer;
    color: #F7F7F7;

}
/*FIM BARRA SUPERIOR*/

body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    background-image: linear-gradient(to bottom, #eeeeee, #D9D9D9);
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1445;
    min-width: 450px;
    max-height: auto;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 5px 5px 15px #00000025;

    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 16pt;

}
.labels{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.inputs{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.container{
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    width: auto;
    height: auto;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    padding: 20px;

}
input[type='text']{
    width: 180px;
    height: 24px;
    border-radius: 5px;
    border: none;
    background-color: #D9D9D9;
    
}
input[type=submit]{

    width: 180px;
    height: 30px;
    background-color: #68328E;
    font-size: 1em;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;

}
input[type=submit]:hover{
    background-color: #522770;
}